@import url("https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #111;
}

header {
  width: 450px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  z-index: 4;
}
header h1 {
  position: absolute;
  top: 50%;
  left: 50px;
  margin-top: -300px;
  font: bold 40px/1 "orbitron";
  color: #fff;
}
header h1::after {
  content: "";
  display: block;
  width: 160px;
  height: 3px;
  background: #fff;
  margin-top: 8px;
}
header #navi {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-30%);
}
header #navi li {
  width: 450px;
  padding: 30px 50px;
  position: relative;
  overflow: hidden;
  opacity: 0.4;
  cursor: pointer;
  transition: transform 1.4s, opacity 1.4s;
  transform-origin: left center;
}
header #navi li h2 {
  font: bold 12px/1 "orbitron";
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
header #navi li h2::after {
  content: "";
  display: block;
  width: 20px;
  height: 1px;
  background-color: #fff;
  margin-top: 7px;
  margin-bottom: 3px;
  transition: 1.4s;
}
header #navi li p {
  font: 10px/1 "arial";
  color: #fff;
  letter-spacing: 1px;
  opacity: 0.7;
}
header #navi li.on {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  transform: scale(1.3);
  opacity: 1;
}
header #navi li.on h2::after {
  width: 150px;
}

section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
section article {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
section article video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotateY(180deg);
}
section article .slogan {
  position: absolute;
  right: 8%;
  top: 50%;
  transform: translateY(-60%);
  text-align: right;
  padding: 50px;
  perspective: 900px;
}
section article .slogan::before {
  content: "";
  display: block;
  width: 500px;
  height: 500px;
  border: 1px solid #fff;
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0;
  transition: all 1.5s;
}
section article .slogan h2 {
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
section article .slogan h2 .inner {
  font: normal 200px/1 "Abril Fatface";
  color: #fff;
  position: relative;
  transform: scaleY(1.25);
  opacity: 0;
  transition: opacity 0.2s 0.5;
  text-align: right;
}
section article .slogan h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0px;
  right: -100%;
  transition: right ease-in-out 1s;
}
section article .slogan .p1 {
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin-right: 14px;
}
section article .slogan .p1 .inner {
  font: 20px/1 "verdana";
  color: #fff;
  position: relative;
  opacity: 0;
  transition: opacity 0.2s 0.8s;
}
section article .slogan .p1::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0px;
  right: -100%;
  transition: right ease-in-out 1s 0.3s;
}
section article .slogan .p2 {
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin-right: 14px;
}
section article .slogan .p2 .inner {
  font: 20px/1 "verdana";
  color: #fff;
  position: relative;
  opacity: 0;
  transition: opacity 0.2s 1.1s;
}
section article .slogan .p2::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0px;
  right: -100%;
  transition: right ease-in-out 1s 0.6s;
}
section article.on {
  z-index: 3;
}
section article.on .slogan::before {
  opacity: 1;
  transform: rotateY(220deg);
}
section article.on .slogan h2 .inner, section article.on .slogan .p1 .inner, section article.on .slogan .p2 .inner {
  opacity: 1;
}
section article.on .slogan h2::after, section article.on .slogan .p1::after, section article.on .slogan .p2::after {
  right: 100%;
}
section article.lower {
  z-index: 2;
}
section article:nth-of-type(1).mask {
  -webkit-mask: url(../src/mask1.png);
  -webkit-mask-size: 2300% 100%;
  animation: mask-play 1.4s steps(22) forwards;
}
section article:nth-of-type(2).mask {
  -webkit-mask: url(../src/mask2.png);
  -webkit-mask-size: 3000% 100%;
  animation: mask-play 1.4s steps(29) forwards;
}
section article:nth-of-type(3).mask {
  -webkit-mask: url(../src/mask3.png);
  -webkit-mask-size: 7100% 100%;
  animation: mask-play 1.4s steps(70) forwards;
}
section article:nth-of-type(4).mask {
  -webkit-mask: url(../src/mask4.png);
  -webkit-mask-size: 7400% 100%;
  animation: mask-play 1.4s steps(73) forwards;
}

@keyframes mask-play {
  0% {
    -webkit-mask-position: 0% 0%;
  }
  100% {
    -webkit-mask-position: 100% 0%;
  }
}

/*# sourceMappingURL=style.css.map */
